@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 



.cards{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr); 
} 

.card{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  
}

.card:hover {
  background-color: #c7c6c3;
}

.cardBody {
  background-color: #f2f0e9;
}

.cardTitle{
  color: #F38F00 !important;
  text-shadow: -1px 0 rgba(39, 23, 9, 0.463), 0 1px rgba(39, 23, 9, 0.463), 1px 0 rgba(39, 23, 9, 0.463), 0 -1px rgba(39, 23, 9, 0.463);
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1rem 
}



/* 
.all{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */



@media (max-width: 1024px) {
  .cards{
    grid-template-columns: repeat(2, 1fr); 
  }

  .header{
    font-size: 5rem;
    padding-bottom: 5%;
  }
}

@media (max-width: 650px) {
  .cards{
    grid-template-columns: repeat(1, 1fr); 
  }

}

@media (max-width: 750px) {
  }