@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Raleway:wght@400;600&display=swap');


#root {
  /* max-width: 1200px; */
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #8a9fc3;

} 
.header{
  padding-top: 3rem;
  color: #262a69;
}

.header h2{
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 5em;
  font-style: normal;
}

.cards{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr); 
  padding: 0 2rem 0 2rem;
} 

.card{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  
}

.cardbody:hover {
  background-color: #f5f1ed;
}



.cardbody {
  background-color: #ffffff;
  /* display: flex;
  flex-direction: row; */
}

.cardimg{
  width: 15rem !important;

}
.cardTitle{
  color: #ebcd37 !important;
  text-shadow: -1px 0 rgba(39, 23, 9, 0.463), 0 1px rgba(39, 23, 9, 0.463), 1px 0 rgba(39, 23, 9, 0.463), 0 -1px rgba(39, 23, 9, 0.463);
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1rem 
}




ul {
  list-style-type: none;
}











@media (max-width: 1024px) {
  .cards{
    grid-template-columns: repeat(2, 1fr); 
  }

  /* .header{
    font-size: 5rem;
    padding-bottom: 5%;
  } */
}

@media (max-width: 1000px) {
  .cards{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 650px) {
  .cards{
    grid-template-columns: repeat(1, 1fr); 
  }

}

